@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1200px;
  height: 100%;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;
  min-height: 100%;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* === index.html === */

/* header */
.page-header {
  display: flex;
}
.page-header-logo {
  width: 140px;
  margin-right: 28px;
}

.page-header-logo img {
  display: block;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-site-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 460px;
}

.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 300px;
}

.navigation-site-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-user-item {
  min-width: 20px;
  min-height: 20px;

}

.navigation-user-item:not(:last-child) {
  margin-right: 24px;
}

.navigation-site-link,
.navigation-user-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.button-desired {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
}

/* hero */
.hero {
  padding: 51px 20px 82px;
  background-color: #354751;
  background-image:
    url("../images/divider.svg"),
    url("../images/background-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center center;
  background-size: contain, cover;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* reasons */
.reasons {
  padding: 69px 20px;
  text-align: center;
}

.reasons-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.reasons-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.reasons-description:last-of-type {
  margin: 0;
}

/* advantages */
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
  min-height: 385px;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item--photo .advantages-text,
.advantages-item--photo-reverse .advantages-text {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item--photo,
.advantages-item--photo-reverse {
  width: 100%;
}

.advantages-text {
  padding: 112px 85px;
}

.advantages-img {
  flex-shrink: 0;
}

.advantages-item--photo-reverse .advantages-img {
  order: -1;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-description:last-of-type {
  margin: 0;
}

.advantages-img {
  display: block;
}

/* welcome */
.welcome {
  padding: 64px 20px;
  text-align: center;
}

.welcome-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.welcome-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.welcome-description:last-of-type {
  margin: 0;
}

/* services */
.services {
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.services-item {
  padding: 85px 81px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
}

.services-description:last-of-type {
  margin: 0;
}

/* interested */
.interested {
  padding: 96px 20px;
  text-align: center;
}

.interested-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.interested-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.interested-description:last-of-type {
  margin: 0;
}

.interested-button {
  margin-top: 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
}

/* subscribe */
.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
}

.subscribe--bg {
  background-color: #333333;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe--bg .subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.subscribe-description:last-of-type {
  margin: 0;
}

.subscribe--bg .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  margin-top: 54px;
}

.subscribe-field {
  padding: 14px 20px;
  width: 452px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.subscribe-field::placeholder {
  color: #333333;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

/* footer */
.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
}

.social {
  margin-right: 138px;
  width: 240px;
  background-color: aquamarine;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.social-item {
  width: 48px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.footer-dev-link {
  margin-left: auto;
  width: 115px;
}

.footer-dev-logo {
  background-image: url("../images/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 115px 33px;
}

/* === catalog.html === */

/* catalog-header */
.catalog-header {
  padding: 35px 70px 70px;
  background-color: #333333;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #ffffff;
}

/* catalog-filter */
.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.price-from,
.price-to {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.price-min,
.price-max {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-min::-webkit-inner-spin-button,
.price-max::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.catalog-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}

/* search-result */
.search-result {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.search-top-block {
  display: flex;
}

.found-hotel {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
}

.display-list {
  margin: 0;
  margin-left: auto;
  padding: 1px 0;
  list-style-type: none;
  background-color: red;
  display: flex;
}

.display-item {
  width: 48px;
  height: 48px;
}

.display-item:not(:last-child) {
  margin-right: 8px;
}

/* housing */
.housing {
  padding: 40px 0;
}

.housing-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.housing-item {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "image image"
  "title title"
  "type price"
  "details favorites"
  "stars raiting";
  gap: 16px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.housing-img {
  grid-area: image;
}

.housing-title {
  grid-area: title;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.housing-type {
  grid-area: type;
  font-size: 18px;
  line-height: 21px;
}

.housing-price {
  grid-area: price;
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
}

.housing-link-details {
  grid-area: details;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
}

.housing-button {
  grid-area: favorites;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.housing-stars {
  margin: 0;
  grid-area: stars;
  align-self: center;
}

.housing-raiting {
  grid-area: raiting;
  justify-self: center;
  align-self: center;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

/* pagination */
.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
}

.pagination-item {
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link,
.pagination-link-current,
.pagination-link-next {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-next {
  background-color: #ffffff;
  color: #000000;
}
